<!Doctye html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/img/weather.png">
    <title>Help</title>

    <body>
        <div class="main-content">
      {{>header}}
        <p>{{message}}</p>
        </div>
    </body>
        {{>footer}}
</head>

</html>